<div [@routerTransition]>
    <app-page-header [heading]="'Sales Order'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 btnDiv">
            <button style="margin-right: 20px;" class="addBtn cursorPointer" title="Export Excel"
                data-toggle="modal">Export Excel</button>
            <button class="addBtn cursorPointer" title="Add" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap"><img src="assets/images/add-employee.png" /></button>
        </div>
    </div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <!-- <div class="card mb-3"> -->
            <!-- <div class="card-header"> -->
            <!-- matDatepicker -->
            <!-- <div (click)="cell.open()">
                        <img src="assets/icons/calender.png" style="float: left;margin-top: 6%;" />
                        <mat-form-field class="example-full-width calenderInputStyle calenderInputStyle1">
                            <input matInput class="calendarValue" [min]="minDate" [matDatepicker]="cell"
                                placeholder="From" (ngModelChange)="getMinReturn($event)">
                            <mat-datepicker #cell></mat-datepicker>
                        </mat-form-field>
                    </div> -->
            <div>
                <mat-form-field class="searchDiv">
                    <input matInput class="form-control form-control-sm searchImg cstmInput"
                        placeholder="Search by all field name " (keyup)="applyFilter($event.target.value)"
                        placeholder="Filter">
                </mat-form-field>
            </div>
            <!-- <button class="importBtnModal cursorPointer" title="Import Employee" data-toggle="modal"
                data-target="#excelUploadModal" data-whatever="@getbootstrap"><img accept=".xlsx"
                    src="assets/icons/import-employee.png" class="rotateImg" /></button> -->
            <!-- </div> -->
            <!-- <div class="card-body table-responsive"> -->
            <div class="fullDiv">
                <table mat-table [dataSource]="dataSource" matSort #sort="matSort" class="mat-elevation-z8">
                    <ng-container matColumnDef="Sno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sno. </th>
                        <td mat-cell *matCellDef="let element">{{element.Sno}}</td>
                    </ng-container>
                    <ng-container matColumnDef="CategoryName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CategoryName</th>
                        <td mat-cell *matCellDef="let element">{{element.CategoryName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Image">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
                        <td mat-cell *matCellDef="let element"> <img [src]="element.Image" height="40" /></td>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <img src="assets/images/edit_icon.png" class="editIcon" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap">
                            <img src="assets/images/view_icon.png" style="margin-left: 10%;" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap"></td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
                <!-- <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table> -->
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="card mb-3">
                <div class="card-header">Table head options</div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Bordered table</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@TwBootstrap</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Small table</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <!-- <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Inverse table</div>
                <div class="card-body table-responsive">
                    <table class="table table-inverse">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Striped Rows</div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Page</th>
                            <th>Visits</th>
                            <th>% New Visits</th>
                            <th>Revenue</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>/index.html</td>
                            <td>1265</td>
                            <td>32.3%</td>
                            <td>$321.33</td>
                        </tr>
                        <tr>
                            <td>/about.html</td>
                            <td>261</td>
                            <td>33.3%</td>
                            <td>$234.12</td>
                        </tr>
                        <tr>
                            <td>/sales.html</td>
                            <td>665</td>
                            <td>21.3%</td>
                            <td>$16.34</td>
                        </tr>
                        <tr>
                            <td>/blog.html</td>
                            <td>9516</td>
                            <td>89.3%</td>
                            <td>$1644.43</td>
                        </tr>
                        <tr>
                            <td>/404.html</td>
                            <td>23</td>
                            <td>34.3%</td>
                            <td>$23.52</td>
                        </tr>
                        <tr>
                            <td>/services.html</td>
                            <td>421</td>
                            <td>60.3%</td>
                            <td>$724.32</td>
                        </tr>
                        <tr>
                            <td>/blog/post.html</td>
                            <td>1233</td>
                            <td>93.2%</td>
                            <td>$126.34</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Hoverable rows</div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card mb-3">
                <div class="card-header">Contextual classes</div>
                <table class="card-body table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
</div>


<!-----------addBtn-------------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modalDialog" role="document">
        <div class="modal-content">
            <div class="modal-header cstmModalHeader">
                <h5 class="modal-title modalTitle" id="exampleModalLabel"> Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter> -->
            <div class="modal-body">
                <form [formGroup]="addroleformGroup" (keypress)="($event.charCode==13)?onSubmit():''">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label cstmLabel">Main Category Name:<span
                                    style="color: red;">*</span></label>
                            <input type="text" id="number" class="form-control inputStyle" name="number" formControlName="roleName"
                            [(ngModel)]="roleName" />
                        </div>
                        <div class="col-md-6">
                            <label for="recipient-name" class="col-form-label cstmLabel">Image:<span
                                    style="color: red;">*</span></label>
                            <input type="file" id="file" class="form-control inputStyle" name="number"  (change)="onSelectedFile($event)"/>
                        </div>
                        <img src="{{imgUrl}}" height="40" class="nameSubDiv1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div style=" width: 100%;text-align: center;">
                    <button type="button" class="btn btn-primary submitBtnStyle" (click)="onSubmit()">Add </button>
                </div>
            </div>
        </div>
    </div>
</div>