.btnDiv{
    text-align: right;
    margin: 1% 0 2%;
}

.addBtn {
  background-color: #222;
  border: 1px solid #222;
  border-radius: 5px;
  color: #999;
}

.searchDiv {
  float: right;
  margin: 2%;
}
.searchDiv {
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  padding: 0.1%;
}
.searchDiv .form-control-sm {
  height: calc(1.3em + 0.5rem + 2px) !important;
}
.searchImg {
  background: url(/assets/images/search.png) no-repeat #fff;
  background-size: 7%;
  background-position: 4% center;
  border-radius: 25px !important;
  padding: 6% 7% 6% 12%;
}
.cstmInput {
  padding-left: 13%;
}
.fullDiv {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  border-radius: 3px;
}
.fullDiv table.mat-table {
  width: 100%;
}
.fullDiv tr.mat-header-row {
  background-color: #222;
  color: #999;
}

/**********************modal*****************************/
.titleDiv {
  width: 97%;
  margin: 2% auto -4px;
}
.meterTag::-webkit-meter-optimum-value {
  background: #007bff;
  border-radius: 18px;
}
.meterTag {
  width: 100%;
  height: 0.3vw;
}
.colorStyle::-webkit-meter-optimum-value {
  background: #007bff !important;
}
.meterTag2 {
  width: 97%;
  height: 0.3vw;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.modal-header {
  border-bottom: none;
}
.cstmModalHeader {
  padding: 1% 1rem !important;
  background: #222;
  color: #fff;
}
.modal-header .close{
    color: #fff!important;
}
.modalTitle {
  margin-top: 0 !important;
  font-size: 1.64rem !important;
}
.form-control {
  border: none !important;
}
.cstmLabel {
  font-size: 0.9em !important;
}
.inputStyle {
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0;
}
.inputPadding {
  padding-right: 0;
}
.modal-footer {
  border-top: none;
  width: 100%;
}
.submitBtn {
  width: 49%;
  text-align: right;
}
.cancelBtn {
  width: 49%;
}
.submitBtnStyle {
  background-color: #222;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #222;
}
.cancelBtnStyle {
  background-color: #169db1;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #169db1;
}
